In [1]:
# 패키지(Package) 로딩(Loading) 하기 : 로딩 = (패키지를 램에 올리는 기능)

import scipy.stats as stats # 통계와 관련된 (science ipy)
import pandas      as pd    # 데이터 읽어오기, 핸들링, 분석 등 등
import seaborn     as sns   # 데이터 시각화

In [3]:
# 1. 가설 검정 첫번째
# 귀무 가설: 성인들의 용돈의 평균은 50만원이다.
# 대립 가설: 성인들의 용돈의 평균은 50만원 보다 많다.

# 엑셀 데이라 읽어오기
income = pd.read_excel(io         = "income.xlsx",
                       sheet_name = 0,
                       header     = 0)
income.head()

   id  money
0   1     80
1   2     60
2   3     60
3   4     95
4   5     70

In [4]:
# 1단계 : 정규성 검정(Normality Test)
# 귀무 가설 : 성인들의 용돈은 정규 분포를 따른다. H_0
# 대립 가설 : 성인들의 용돈은 정규 분포를 따르지 않는다. H_1

# n(표본의 데이터 수) < 5000 : Shapiro-wilk
# n(표본의 데이터 수) >= 5000 : Anderson-darling

# n = 19 < 5000 : Shapiro-wilk
stats.shapiro(income["money"])

ShapiroResult(statistic=0.9747529760442039, pvalue=0.8658020981469225)

In [5]:
# 2단계 : 일표본 t검정 (one sample t-test)
stats.ttest_1samp(income["money"],
                  popmean     = 50,
                  alternative = "greater")

# income["money"] : 검정 변수
# popmean         : 귀무가설의 모평균
# alternative     : 대립가설 : "greater", "less", "two-sided."

TtestResult(statistic=6.380973122126472, pvalue=2.607141852956806e-06, df=18)

In [6]:
diamonds = sns.load_dataset("diamonds")
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75